<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Work Done Management
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">

    </div>
  </div>
</div>
<div class="container-fluid">

  <!-- <div class="card-group">
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">236</h2>
                          <span
                              class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Clients</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                              class="set-doller">$</sup>18,306</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Earnings of Month
                      </h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">1538</h2>
                          <span
                              class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 font-weight-medium">864</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->


  <div class="card mt-3 mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <a href=""></a>
      <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/dashboard/product-create']"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="ti-plus"></i>
        Add New Note</a>
    </div>


    <!-- <div class="container mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Jobs </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Tasks">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.task_name}} -- {{factor.task_state}}</h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'd/M/yy'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}} <br>
                {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Job Description : {{factor.task_description}}
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">
          <form #formValues3="ngForm" id="myform" (ngSubmit)="add_status(formValues3, factor)" class="pl-3 pr-3">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="Task_status.task_status_name" name="task_status_name"
                #task_status_name="ngModel" type="text" placeholder="Update Job Status">
            </div>
            <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="ti-trash"
              aria-hidden="true"></i></button>
              <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fas fa-edit"></i></button>
              <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-share"
                aria-hidden="true"></i></button>
          </form>
          <button class="mr-4 btn btn-rounded btn-primary" color="primary" form="myform" type="submit">Update</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=disclose(factor)>Disclose</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=next_followup(factor)> Next Follow Up
          </button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div> -->

    <div class="card-body">
      <div class="dot-opacity-loader" *ngIf="Notes?.length == 0 && isLoading">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="table-responsive" *ngIf="Notes?.length != 0 || !isLoading">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
          [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Note Priority</th>
              <th>Note Detail</th>
              <th>Options</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Note Priority</th>
              <th>Note Detail</th>
              <th>Options</th>
            </tr>
          </tfoot>

          <!-- Start of DataTable -->
          <tbody>
            <tr *ngFor="let factor of Notes">
              <!-- <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-edit text-gray-500"></i>
            </td> -->
            <td>{{PRIORITY[factor.notepad_rating-1].value}}</td>
              <td>{{factor.notepad_comment}}</td>
              <!-- <td>{{factor.machine_name }}</td>
            <td>{{factor.follow_up | date:'d  - MMM,  y'}}</td> -->
              <td style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-more " aria-hidden="true"></i>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a (click)="show_edit(factor)" class="dropdown-item">Edit Note</a>
                  <a (click)=delete_factor(factor) class="dropdown-item text-danger">Delete Note</a>
                </div>
              </td>
            </tr>
          </tbody>
          <!-- End of DataTable -->


        </table>
      </div>
    </div>
  </div>
</div>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">
          <!-- Note Priority - lead_priority - ng-select - selectedType -->
          <div class="form-group">
            <label>Note Priority <span>*</span> </label>
            <ng-select [items]="PRIORITY" bindLabel="value" autofocus bindValue="id" [(ngModel)]="Factor.notepad_rating"
              name="notepad_rating" #notepad_rating="ngModel" placeholder="Note Priority">
            </ng-select>
          </div>
          <!-- End of Note Priority -->
          <!-- Notes - notepad_comment - text - required -->
          <div class="form-group">
            <label>Notes *</label>
            <textarea class="form-control" style="height: 50vh;" [(ngModel)]="Factor.notepad_comment"
              name="notepad_comment" #notepad_comment="ngModel" type="text" placeholder="Enter Notes"
              required></textarea>
            <div class="error" *ngIf="notepad_comment.touched && !notepad_comment.valid"> Notes
              is
              required</div>
          </div>
          <!-- End of Notes -->

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Note</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->


<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <!-- Note Priority - lead_priority - ng-select - selectedType -->
          <div class="form-group">
            <label>Note Priority <span>*</span> </label>
            <ng-select [items]="PRIORITY" bindLabel="value" autofocus bindValue="id" [(ngModel)]="Factor.notepad_rating"
              name="notepad_rating" #notepad_rating="ngModel" placeholder="Note Priority">
            </ng-select>
          </div>
          <!-- End of Note Priority -->

          <!-- Notes - notepad_comment - text - required -->
          <div class="form-group">
            <label>Notes *</label>
            <textarea class="form-control" [(ngModel)]="Factor.notepad_comment" name="notepad_comment"
              #notepad_comment="ngModel" type="text" placeholder="Enter Notes" required></textarea>
            <div class="error" *ngIf="notepad_comment.touched && !notepad_comment.valid"> Notes
              is
              required</div>
          </div>
          <!-- End of Notes -->


          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Update Note</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
