  <div class="banner">
    <div class="align-self-center">
      <!-- <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Lead Management
      </h3> -->
      <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Manager Management
      </h3>

      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="align-self-center">
      <a data-toggle="modal" data-target="#create-factor-modal"
        class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i class="ti-plus"></i>
        Add Manager</a>
    </div>
  </div>


  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 "> Your customer Database</h4>
                <div class="">
                  <li class="dropdown">
                    <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-expanded="false" aria-haspopup="true">
                      <i class="ti-settings" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" *ngFor="let factor of config['user_database']">
                        <mat-slide-toggle color="primary" class="d-block" [(ngModel)]="factor.status">
                          {{factor?.field_name}}
                        </mat-slide-toggle>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">
                        <a (click)="update_config()" class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i
                            class="ti-plus"></i> Save Config</a>
                      </a>
                    </div>
                  </li>
                </div>
              </div>

              <div class="card-body">
                <div class="dot-opacity-loader" *ngIf="isLoading">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="table-responsive" [hidden]="isLoading">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th *ngFor="let factor of config['user_database']" [hidden]=!factor.status>
                          {{factor.field_name}}</th>
                      </tr>
                    </thead>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td [hidden]="!config['user_database'][0].status">{{factor.username}}</td>
                        <td [hidden]="!config['user_database'][1].status">{{factor.manager_name}}</td>
                        <td [hidden]="!config['user_database'][2].status">{{factor.manager_mobile}}</td>
                        <td [hidden]="!config['user_database'][3].status">{{factor.manager_address}}</td>
                        <td [hidden]="!config['user_database'][4].status" style="cursor: pointer; text-align: center;"
                          class="dropdown-toggle" data-toggle="dropdown">
                          <i class="ti-more " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)=show_detail(factor) class="dropdown-item">Manager
                              details</a>
                            <a (click)=show_edit(factor) class="dropdown-item">Edit Manager</a>
                            <a (click)=delete_factor(factor) class="dropdown-item text-danger">Delete Manager</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>


  <!--
customer_id:{{customer_id}}

                          customer_name:Benny
                          customer_mobile:687496879
                          customer_address:Salem
                          customer_type:1
                          customer_from:1
                          shop_industry:{{industry_id}} -->

  <!-- Add  Factor modal content -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Manager - Factor -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

            <!-- Enter Email - email - text - required -->
            <div class="form-group">
              <label>Enter Email <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.email" name="email" #email="ngModel" type="text"
                placeholder="Enter Email" required>
              <div class="error" *ngIf="email.touched && !email.valid"> Email is
                required</div>
            </div>
            <!-- End of Enter Email -->

            <!-- Enter Password - password - text - required -->
            <div class="form-group">
              <label>Enter Password <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.password" name="password" #password="ngModel" type="text"
                placeholder="Enter Enter Password" required>
              <div class="error" *ngIf="password.touched && !password.valid"> Password is
                required</div>
            </div>
            <!-- End of Enter Password -->

            <!-- Manager name - manager_name - text - required -->
            <div class="form-group">
              <label>Manager name <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.manager_name" name="manager_name" #manager_name="ngModel"
                type="text" placeholder="Enter Manager name" required>
              <div class="error" *ngIf="manager_name.touched && !manager_name.valid">
                Manager name is
                required</div>
            </div>
            <!-- End of Manager name -->

            <!-- Manager mobile - manager_mobile - text - required -->
            <div class="form-group">
              <label>Manager mobile <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.manager_mobile" name="manager_mobile"
                #manager_mobile="ngModel" type="text" placeholder="Enter Manager mobile" required>
              <div class="error" *ngIf="manager_mobile.touched && !manager_mobile.valid">
                Manager mobile is
                required</div>
            </div>
            <!-- End of Manager address -->

            <!-- Manager address - manager_address - text - required -->
            <div class="form-group">
              <label>Manager address</label>
              <input class="form-control" [(ngModel)]="Factor.manager_address" name="manager_address"
                #manager_address="ngModel" type="text" placeholder="Enter Manager address" required>
              <div class="error" *ngIf="manager_address.touched && !manager_address.valid">
                Manager address is
                required</div>
            </div>
            <!-- End of Manager address -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Add Manager</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Add Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

            <!-- Enter Email - email - text - required -->
            <div class="form-group">
              <label>Enter Email <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.email" name="email" #email="ngModel" type="text"
                placeholder="Enter Email" required>
              <div class="error" *ngIf="email.touched && !email.valid"> Email is
                required</div>
            </div>
            <!-- End of Enter Email -->

            <!-- Enter Password - password - text - required -->
            <div class="form-group">
              <label>Enter Password <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.password" name="password" #password="ngModel" type="text"
                placeholder="Enter Enter Password" required>
              <div class="error" *ngIf="password.touched && !password.valid"> Password is
                required</div>
            </div>
            <!-- End of Enter Password -->

            <!-- Manager name - manager_name - text - required -->
            <div class="form-group">
              <label>Manager name <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.manager_name" name="manager_name" #manager_name="ngModel"
                type="text" placeholder="Enter Manager name" required>
              <div class="error" *ngIf="manager_name.touched && !manager_name.valid">
                Manager name is
                required</div>
            </div>
            <!-- End of Manager name -->

            <!-- Manager mobile - manager_mobile - text - required -->
            <div class="form-group">
              <label>Manager mobile <span>*</span> </label>
              <input class="form-control" [(ngModel)]="Factor.manager_mobile" name="manager_mobile"
                #manager_mobile="ngModel" type="text" placeholder="Enter Manager mobile" required>
              <div class="error" *ngIf="manager_mobile.touched && !manager_mobile.valid">
                Manager mobile is
                required</div>
            </div>
            <!-- End of Manager address -->

            <!-- Manager address - manager_address - text - required -->
            <div class="form-group">
              <label>Manager address</label>
              <input class="form-control" [(ngModel)]="Factor.manager_address" name="manager_address"
                #manager_address="ngModel" type="text" placeholder="Enter Manager address" required>
              <div class="error" *ngIf="manager_address.touched && !manager_address.valid">
                Manager address is
                required</div>
            </div>
            <!-- End of Manager address -->


            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Manager</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->
