.error {
  color: rgba(255, 0, 0, 0.687);
}

::ng-deep .cdk-overlay-container {
  z-index: 2000;
}
h3{
  font-size: 1em;
  margin: 1em;
  span{
    color: black;
  }
  strong{
    text-decoration: underline;
  }
}
