<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Work Done Management
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">

    </div>
  </div>
</div>
<div class="container-fluid">

  <!-- <div class="card-group">
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">236</h2>
                          <span
                              class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Clients</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                              class="set-doller">$</sup>18,306</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Earnings of Month
                      </h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">1538</h2>
                          <span
                              class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 font-weight-medium">864</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->


  <div class="card mt-3 mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <a data-toggle="modal" data-target="#create-machine-modal" [routerLink]="['/routePath']"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm mr-3"><i class="ti-plus"></i>
        Add Machine</a>
      <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/dashboard/product-create']"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="ti-plus"></i>
        Add New Note</a>
    </div>


    <!-- <div class="container mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Jobs </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Tasks">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.task_name}} -- {{factor.task_state}}</h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'd/M/yy'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}} <br>
                {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Job Description : {{factor.task_description}}
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">
          <form #formValues3="ngForm" id="myform" (ngSubmit)="add_status(formValues3, factor)" class="pl-3 pr-3">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="Task_status.task_status_name" name="task_status_name"
                #task_status_name="ngModel" type="text" placeholder="Update Job Status">
            </div>
            <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="ti-trash"
              aria-hidden="true"></i></button>
              <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fas fa-edit"></i></button>
              <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-share"
                aria-hidden="true"></i></button>
          </form>
          <button class="mr-4 btn btn-rounded btn-primary" color="primary" form="myform" type="submit">Update</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=disclose(factor)>Disclose</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=next_followup(factor)> Next Follow Up
          </button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div> -->

    <div class="card-body">
      <div class="dot-opacity-loader" *ngIf="isLoading">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="text-center text-muted" *ngIf="!isLoading && Tasks.length == 0">
        No record has been found
      </div>
      <div class="table-responsive" [hidden]="isLoading">
        <table class="table table-bordered" id="dataTable" *ngIf="Tasks" width="100%" cellspacing="0" datatable
          [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Date</th>
              <!-- <span *ngFor="let factor of Tasks">
                <th *ngFor="let response of factor['responses']"> {{response.machine_name}} </th>
              </span> -->
              <th> Particulars </th>
              <!-- <th>Disclose</th> -->
            </tr>
          </thead>

          <!-- Start of DataTable -->
          <tbody>
            <tr *ngFor="let factor of Tasks">
              <td>{{factor.follow_up | date:'d  - MMM,  y'}}</td>
              <td (click)="show_edit(factor)" *ngIf="!factor.work_free">
                <div *ngFor="let response of factor['responses']">
                  <strong> {{response.machine_name}}</strong> : {{response.journal_response}}
                  <hr>
                </div>
              </td>
              <td *ngIf="factor.work_free">
                Work Free Day
              </td>

              <!-- <td (click)=delete_factor(factor) style="cursor: pointer;" align="center">
                <i class="ti-archive"></i>
              </td> -->
            </tr>
          </tbody>
          <!-- End of DataTable -->


        </table>
      </div>
    </div>
  </div>
</div>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Creating_Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <!-- Select Date - lead_priority - ng-select - selectedType -->
          <div class="form-group">
            <label>Select Date <span>*</span> </label>
            <div class="mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input class="date-field" matInput [(ngModel)]="selected_date" [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- End of Select Date -->

          <!-- Work Free - work_free - text - required -->
          <div class="custom-control custom-checkbox">
            <input [(ngModel)]="Factor.work_free" id="customCheck5" name="work_free" #work_free="ngModel"
              type="checkbox" class="custom-control-input">
            <label class="custom-control-label" for="customCheck5"> Work Free day </label>
          </div>
          <!-- End of Work Free -->

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Note</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->


<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">


          <!-- Notes - journal_comment - text - required -->
          <div class="" *ngFor="let response of Factor['responses']; let index = index">
            <div class="form-group">
              <label>{{response.machine_name}}</label>
              <textarea class="form-control" (change)="update_response(response)"
                [(ngModel)]="Factor['responses'][index].journal_response" name="journal_response{{index}}" type="text"
                placeholder="Enter Notes" required></textarea>
            </div>
          </div>
          <!-- End of Notes -->


          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Update Register</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->


<!-- Edit  Factor modal content -->
<div id="create-machine-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues4="ngForm" (ngSubmit)="add_machine(formValues4)" class="pl-3 pr-3">

          <!-- Machine name - machine_name - text - required -->
          <div class="form-group">
            <label>Machine name</label>
            <input class="form-control" [(ngModel)]="Machine.machine_name" name="machine_name" #machine_name="ngModel"
              type="text" placeholder="Enter Machine name" required>
            <div class="error" *ngIf="machine_name.touched && !machine_name.valid"> Machine name is
              required</div>
          </div>
          <!-- End of Machine name -->


          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Add Machine</button>
          </div>


        </form>
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let factor of Machines">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{factor.machine_name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="btn btn-light" (click)="delete_machine(factor)">Delete Machine</button>
            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
