<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium my-3">Pending Approvals</h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">
      <!-- <div class="customize-input float-right">
        <input (dateChange)=onDateChange($event) class="date-field" matInput [(ngModel)]="active_day"
          [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div> -->
    </div>
  </div>
</div>

<div class="container-fluid">

  <!-- <div class="card-group">
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">236</h2>
                            <span
                                class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Clients</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                                class="set-doller">$</sup>18,306</h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Earnings of Month
                        </h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-right">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-dark mb-1 font-weight-medium">1538</h2>
                            <span
                                class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                        </div>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Projects</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <h2 class="text-dark mb-1 font-weight-medium">864</h2>
                        <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  <div class="card">

    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="Activities">
        <div class="card">
          <div class="card-body">
            <mat-list>
              <mat-list-item style="color: rgba(0, 0, 0, 0.534);" *ngFor="let factor of Activities">
                <i class=""></i>
                <i *ngIf="factor.activity_type == 1" class="px-2 ti-plus"></i>
                <i *ngIf="factor.activity_type == 2" class="px-2 ti-pencil"></i>
                <i *ngIf="factor.activity_type == 3" class="px-2 ti-trash"></i>
                <div class="mat-line">
                  {{factor.activity_comment}}
                </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-tab>



      <mat-tab label="Customer Follow Ups">
        <div class="card mt-3 mb-4">
          <div class="card-header py-3 d-flex align-items-center justify-content-between">
            <div class="customize-input float-right">

            </div>
            <a [routerLink]="['/dashboard/lead-management']" class="d-sm-inline btn btn-sm btn-primary shadow-sm">Go to
              Customer Follow Ups<i class="ml-2 ti-share text-white-100"></i>
            </a>
          </div>
        </div>
        <!-- Table -->
        <div class="card-body">
          <div class="dot-opacity-loader" *ngIf="Leads?.length == 0">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="table-responsive" *ngIf="Leads?.length != 0">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <!-- <th>Edit</th> -->
                  <th>Company Name</th>
                  <th style="width: fit-content;">Customer Place</th>
                  <th>Last Feedback</th>
                  <th>Last Follow Up</th>
                  <th>Next Follow Up</th>
                  <!-- <th>Priority</th> -->
                  <th>Options</th>
                </tr>
              </thead>


              <!-- Start of DataTable -->
              <tbody>
                <tr *ngIf="Leads.length == 0">
                  <td colspan="8" class="text-center py-3">There are no pending Approvals</td>
                </tr>
                <tr *ngFor="let factor of Leads">
                  <!-- <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-edit text-gray-500"></i>
            </td> -->
                  <td style="text-decoration: underline;cursor: pointer;" (click)="show_detail(factor)">{{factor.company_name}}</td>
                  <td>{{factor.customer_city}}</td>
                  <td>
                    <div class="input-group">
                      <input class="form-control" [(ngModel)]="factor.follow_up_comment" name="follow_up_comment" #follow_up_comment="ngModel"
                        type="text" placeholder="Enter Job State">
                    </div>
                  </td>
                  <td>{{factor.time_stamp | date:'d  - MMM,  y'}}</td>
                  <td >
                    <div class="customize-input float-right">
                      <input class="date-field" matInput [(ngModel)]="factor.next_follow_up" [matDatepicker]="picker"
                        (change)=onDateChange($event)>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </div>
                  </td>
                  <!-- <td>{{PRIORITY[factor.lead_priority].value}}</td> -->
                  <td >
                    <button (click)=lead_disclose(factor) class="option-button btn btn-success" style="cursor: pointer;" align="center"><i class="ti-check" aria-hidden="true"></i></button>
                    <button (click)=lead_disapprove(factor) class="option-button btn btn-danger" style="cursor: pointer;" align="center"><i class="ti-trash" aria-hidden="true"></i></button>
                  </td>

                </tr>
              </tbody>
              <!-- End of DataTable -->


            </table>
          </div>
        </div>
      </mat-tab>



      <mat-tab label="Payment Follow Ups">

        <div class="card mt-3 mb-4">
          <div class="card-header py-3 d-flex align-items-center justify-content-between">
            <div class="customize-input float-right">

            </div>
            <a [routerLink]="['/dashboard/invoice-management']" class="d-sm-inline btn btn-sm btn-primary shadow-sm">Go
              to
              Payment Follow Ups<i class=" ml-2 ti-share text-white-100"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <!-- <th>Edit</th> -->
                  <th>Company Name</th>
                  <th>Amount</th>
                  <th>Last Feedback</th>
                  <th>Dispatch Date</th>
                  <th>Last Follow Up</th>
                  <th>Next Follow Up</th>
                  <th>Options</th>
                </tr>
              </thead>

              <!-- Start of DataTable -->
              <tbody>
                <tr *ngIf="Invoices.length == 0">
                  <td colspan="8" class="text-center py-3">There are no pending Approvals</td>
                </tr>

                <tr *ngFor="let factor of Invoices">
                  <!-- <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-edit text-gray-500"></i>
            </td> -->
                  <td>{{factor.company_name}}</td>
                  <td>{{factor.invoice_balance |currency:"INR":"symbol"}}</td>
                  <td>
                    <div class="input-group">
                      <input class="form-control" [(ngModel)]="factor.follow_up_comment" name="follow_up_comment" #follow_up_comment="ngModel"
                        type="text" placeholder="Enter Job State">
                    </div>
                  </td>                  <td>{{factor.dispatch_date | date:'d  - MMM,  y'}}</td>
                  <td>{{factor.time_stamp | date:'d  - MMM,  y'}}</td>
                  <td>
                    <div class="customize-input float-right">
                      <input class="date-field" matInput [(ngModel)]="factor.next_follow_up" [matDatepicker]="picker"
                        (change)=onDateChange($event)>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </div>
                  </td>
                  <td>
                    <button (click)=invoice_disclose(factor) class="option-button btn btn-success" style="cursor: pointer;" align="center"><i class="ti-check" aria-hidden="true"></i></button>
                    <button (click)=invoice_disapprove(factor) class="option-button btn btn-danger" style="cursor: pointer;" align="center"><i class="ti-trash" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </tbody>
              <!-- End of DataTable -->

            </table>
          </div>
        </div>
      </mat-tab>



      <mat-tab label="Work In Progress">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <!-- <th>Edit</th> -->
                  <th>Company Name</th>
                  <th>Mobile Number</th>
                  <th>Job Name</th>
                  <th>Job Status</th>
                  <th>Job Description</th>
                  <th>Options</th>
                </tr>
              </thead>

              <!-- Start of DataTable -->
              <tbody>
                <tr *ngIf="Tasks.length == 0">
                  <td colspan="8" class="text-center py-3">There are no pending Approvals</td>
                </tr>
                <tr *ngFor="let factor of Tasks">
                  <!-- <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-edit text-gray-500"></i>
            </td> -->
                  <td>{{factor.company_name}}</td>
                  <td>{{factor.customer_mobile}}</td>
                  <td>{{factor.task_name}}</td>
                  <!-- <td>{{factor.task_state}}</td> -->
                  <!-- <td>
                  <div class="input-group">
                    <input class="form-control" [(ngModel)]="factor.task_state" name="task_state" #task_state="ngModel"
                      type="text" placeholder="Enter Job State">
                    <div class="input-group-append">
                      <div (click)="add_status(factor.task_state, factor)" class="input-group-text"
                        style="cursor: pointer;" id="btnGroupAddon"> <i class="ti-export    "></i>
                      </div>
                    </div>
                  </div>
                </td> -->

                  <td>{{factor.task_state}}</td>
                  <td>{{factor.task_description}}</td>
                  <td>
                    <button (click)=task_disclose(factor) class="option-button btn btn-success" style="cursor: pointer;" align="center"><i class="ti-check" aria-hidden="true"></i></button>
                    <button (click)=task_disapprove(factor) class="option-button btn btn-danger" style="cursor: pointer;" align="center"><i class="ti-trash" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </tbody>
              <!-- End of DataTable -->


            </table>
          </div>
        </div>
      </mat-tab>


    </mat-tab-group>
  </div>
</div>





<!-- Customer Detail  Factor modal content -->
<div id="customer-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Customer Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body" *ngIf="isCustomerSelected">
        <app-customer-detail></app-customer-detail>
      </div>
    </div>
  </div>
</div>
<!-- End of Customer Detail Factor -->
