<div class="banner d-flex align-items-center">
  <div>
    <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Customer Follow Up
    </h3>
    <div class="d-flex align-items-center">
    </div>
  </div>
  <div>
    <a data-toggle="modal" data-target="#create-factor-modal"
      class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i class="ti-plus"></i>
      Create Customer Follow Up</a>

    <mat-form-field class="ml-3" appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input (dateChange)=onDateChange($event) matInput [(ngModel)]="active_day" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>


<div class="container-fluid">

  <!-- <div class="card-group">
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">236</h2>
                          <span
                              class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Clients</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                              class="set-doller">$</sup>18,306</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Earnings of Month
                      </h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">1538</h2>
                          <span
                              class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 font-weight-medium">864</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

  <!-- Expansion Panel -->
  <!-- <div class="container mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Follow-ups </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Leads">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.customer_address}} - {{factor.customer_name}} -
                {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Last Follow Up : {{factor.time_stamp | date : 'd/M/yy'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">
                Type : {{CUSTOMER_TYPE[factor.customer_type].value}} <br>
                From : {{CUSTOMER_FROM[factor.customer_from].value}} <br>
              </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Next Follow Up : {{factor.next_follow_up | date : 'd/M/yy'}} <br>
                Prev. comment : {{factor.follow_up_comment}} <br>
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">
          <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="ti-trash"
              aria-hidden="true"></i></button>
          <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fas fa-edit    "></i></button>
          <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-share"
              aria-hidden="true"></i></button>
          <button class="mr-4 btn btn-rounded btn-light" color="primary" (click)=disclose(factor)>Disclose</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=next_followup(factor)> Next Follow Up
          </button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div> -->

  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 "> Your Customer Follow Ups</h4>
                <div class="">
                  <li class="dropdown">
                    <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-expanded="false" aria-haspopup="true">
                      <i class="ti-settings" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" *ngFor="let factor of config['customer_followup']">
                        <mat-slide-toggle color="primary" class="d-block" [(ngModel)]="factor.status">
                          {{factor?.field_name}}
                        </mat-slide-toggle>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">
                        <a (click)="update_config()" class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i
                            class="ti-plus"></i> Save Config</a>
                      </a>
                    </div>
                  </li>
                </div>
              </div>
              <!-- Table -->
              <div class="card-body">
                <div class="dot-opacity-loader" *ngIf="isLoading">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="text-center text-muted" *ngIf="!isLoading && Factors.length == 0">
                  No record has been found
                </div>
                <div class="table-responsive" *ngIf="!isLoading && Factors.length != 0">

                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th *ngFor="let factor of config['customer_followup']" [hidden]=!factor.status>
                          {{factor.field_name}}</th>
                      </tr>
                    </thead>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td style="text-decoration: underline;cursor: pointer;" (click)="show_detail(factor)"  [hidden]="!config['customer_followup'][0].status">{{factor.company_name}}</td>
                        <td [hidden]="!config['customer_followup'][1].status">{{factor.customer_mobile}}</td>
                        <td [hidden]="!config['customer_followup'][2].status">{{factor.follow_up_comment}}</td>
                        <td [hidden]="!config['customer_followup'][3].status">
                          {{factor.time_stamp | date:'d  - MMM,  y'}}
                        </td>
                        <td [hidden]="!config['customer_followup'][4].status">
                          {{factor.next_follow_up | date:'d  - MMM,  y'}}</td>
                        <td [hidden]="!config['customer_followup'][5].status">{{PRIORITY[factor.lead_priority].value}}
                        </td>
                        <td [hidden]="!config['customer_followup'][6].status" style="cursor: pointer;" align="center"
                          class="dropdown-toggle" data-toggle="dropdown">
                          <i class="ti-more " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)="next_followup(factor)" class="dropdown-item" href="javascript:void(0)">Next
                              Follow Up</a>
                            <a (click)=disclose(factor) class="dropdown-item text-danger"
                              href="javascript:void(0)">Disclose Follow
                              Up</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>


            </div>


            <!-- Create  Factor modal content -->
            <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <!-- <<  Customer - Factor -   >> -->
                    <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

                      <!-- Select Customer - customer - ng-select - selectedIndustry -->
                      <div class="form-group">
                        <label>Select Customer <span>*</span> </label>
                        <ng-select [items]="Customers" bindLabel="label" autofocus bindValue="customer_id"
                          [(ngModel)]="Factor.customer" name="customer" placeholder="Select Customer">
                        </ng-select>
                      </div>
                      <!-- End of Select Customer -->

                      <!-- Comments - follow_up_comment - text - required -->
                      <div class="form-group">
                        <label>Comments <span>*</span> </label>
                        <textarea class="form-control" [(ngModel)]="Factor.follow_up_comment" style="height: 150%;"
                          name="follow_up_comment" #follow_up_comment="ngModel" type="text" placeholder="Enter Comments"
                          required></textarea>
                        <div class="error" *ngIf="follow_up_comment.touched && !follow_up_comment.valid"> Comments is
                          required</div>
                      </div>
                      <!-- End of Comments -->


                      <!-- Follow-up Priority - lead_priority - ng-select - selectedType -->
                      <!-- <div class="form-group">
            <label>Follow-up Priority <span>*</span> </label>
            <ng-select [items]="PRIORITY" bindLabel="value" autofocus bindValue="id" name="lead_priority"
              [(ngModel)]="selectedPriority" (change)=onSelect2($event) placeholder="Follow-up Priority">
            </ng-select>
          </div> -->
                      <!-- End of Follow-up Priority -->

                      <!-- Next Follow-Up - lead_priority - ng-select - selectedType -->
                      <div class="form-group">
                        <label>Next Follow-Up <span>*</span> </label>
                        <mat-form-field appearance="outline">
                          <mat-label>Choose a date</mat-label>
                          <input class="form-group date-picker" matInput name="next_follow_up"
                            [(ngModel)]="selected_date" [matDatepicker]="picker2">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <!-- End of Next Follow-Up -->

                      <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Create customer follow-up</button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- End of Create Factor -->

            <!-- Start of Body -->

            <!--
customer:{{customer_id}}
                follow_up_comment:Nice to talk asf
                lead_priority:2
                next_follow_up:2020-05-24T00:00 -->

            <!-- End of Body -->


            <!-- Edit  Factor modal content -->
            <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

                      <!-- Select Customer - customer - ng-select - selectedIndustry -->
                      <div class="form-group">
                        <label>Select Customer</label>
                        <ng-select [items]="Customers" bindLabel="label" autofocus bindValue="customer_id"
                          [(ngModel)]="Factor.customer" name="customer" placeholder="Select Customer">
                        </ng-select>
                      </div>
                      <!-- End of Select Customer -->

                      <!-- Comments - follow_up_comment - text - required -->
                      <div class="form-group">
                        <label>Comments</label>
                        <textarea class="form-control" [(ngModel)]="Factor.follow_up_comment" name="follow_up_comment"
                          #follow_up_comment="ngModel" type="text" placeholder="Enter Comments" required></textarea>
                        <div class="error" *ngIf="follow_up_comment.touched && !follow_up_comment.valid"> Comments
                          is
                          required</div>
                      </div>
                      <!-- End of Comments -->


                      <!-- Follow-up Priority - lead_priority - ng-select - selectedType -->
                      <!-- <div class="form-group">
            <label>Follow-up Priority</label>
            <ng-select [items]="PRIORITY" bindLabel="value" autofocus bindValue="id" name="lead_priority"
              [(ngModel)]="selectedPriority" (change)=onSelect2($event) placeholder="Follow-up Priority">
            </ng-select>
          </div> -->
                      <!-- End of Follow-up Priority -->

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                          aria-describedby="basic-addon1">
                      </div>


                      <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Update Customer</button>
                      </div>


                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- End of Edit Factor -->



<!-- Customer Detail  Factor modal content -->
<div id="customer-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Customer Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="container mt-2">
          <div class="card p-3">
               <div class="row">
                 <div class="col-6 pl-4">
                   <h3> <strong class="font-weight-bold mb-0">General Details :</strong> </h3>
                   <h3 class="text-muted mb-0"> Company Name : <span class=" font-weight-bold">
                       {{Customer.company_name}}
                     </span> </h3>
                   <h3 class="text-muted mb-0"> Contact Person : <span class=" font-weight-bold">
                       {{Customer.customer_name}} </span> </h3>
                   <h3 class="text-muted mb-0"> Mobile Numbers : <span class=" font-weight-bold">
                       {{Customer.customer_mobile}} </span>
                   </h3>
                   <h3 class="text-muted mb-0"> Customer Address : <span class=" font-weight-bold">
                       {{Customer.customer_address}} </span>
                   </h3>
                   <h3 class="text-muted mb-0"> Customer City : <span class=" font-weight-bold">
                       {{Customer.customer_city}} </span> </h3>
                 </div>
                 <div class="col-6">
                   <h3> <strong class="font-weight-bold mb-0">Misc. Details :</strong> </h3>
                   <h3 class="text-muted mb-0"> Customer Industry : <span class=" font-weight-bold">
                       {{Customer.shop_industry}} </span>
                   </h3>
                   <!-- <h3 class="text-muted mb-0"> Customer Type : <span class=" font-weight-bold">
                       {{CUSTOMER_TYPE[Customer.customer_type].value}}
                     </span> </h3> -->
                   <h3 class="text-muted mb-0"> Calendar Follow Up : <span class=" font-weight-bold">
                       {{Customer.calendar_eligible}} </span>
                   </h3>
                   <h3 class="text-muted mb-0"> Direct Customer : <span class=" font-weight-bold">
                       {{Customer.customer_direct}} </span> </h3>
                 </div>
               </div>
               <div class="row ml-auto">
                <div>
                  <a data-toggle="modal" (click)="add_lead()"
                    class="btn btn-sm btn-primary shadow-sm ml-3"><i class="ti-plus"></i>
                    Add customer follow-up</a>
                  <!-- <a data-toggle="modal" (click)="add_payment()"
                    class="btn btn-sm btn-primary text-white shadow-sm ml-3"><i class="ti-plus"></i>
                    Add payment follow-up</a> -->
                </div>
              </div>
             </div>



             <mat-tab-group mat-align-tabs="center">

               <mat-tab label="Customer Follow Ups">

                 <div class="container mt-3">
                   <div class="example-action-buttons float-left">
                     <h3> Active Jobs </h3>
                   </div>
                   <div class="example-action-buttons float-right">
                     <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
                   </div> <br>
                   <mat-accordion class="example-headers-align container" multi>
                     <mat-expansion-panel *ngFor="let factor of Customer['leads']">
                       <mat-expansion-panel-header>
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary">{{factor.follow_up_comment}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">Date : {{factor.time_stamp | date: 'd  - MMM,  y'}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </mat-expansion-panel-header>
                       <div class="row container">
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary"> Next Follow Up :
                               {{factor.next_follow_up | date : 'd  - MMM,  y'}} </h4>
                           </mat-panel-title>
                         </div>
                         <!-- <div class="col-6">
                         <mat-panel-description>
                           <h4 class="m-0 font-weight-bold text-primary">
                             Job Description : {{factor.task_description}}
                           </h4>
                         </mat-panel-description>
                       </div> -->
                       </div>
                       <mat-action-row>
                         <div>
                           <span *ngIf="factor.dislosed_state" class="badge badge-success"> Disclosed </span>
                           <span *ngIf="!factor.dislosed_state" class="badge badge-danger"> Not Disclosed </span>
                         </div>
                       </mat-action-row>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </div>

               </mat-tab>



               <mat-tab label="Payment Follow Ups">

                 <div class="container mt-3">
                   <!-- <div class="example-action-buttons float-left">
                   <h3> Active Jobs </h3>
                 </div>
                 <div class="example-action-buttons float-right">
                   <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
                 </div> <br> -->
                   <mat-accordion class="example-headers-align container" multi>
                     <mat-expansion-panel *ngFor="let factor of Customer['invoices']">
                       <mat-expansion-panel-header>
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary">{{factor.follow_up_comment}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">Date : {{factor.time_stamp | date: 'd  - MMM,  y'}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </mat-expansion-panel-header>
                       <div class="row container">
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary"> Next Follow Up :
                               {{factor.next_follow_up | date : 'd  - MMM,  y'}} </h4> <br>
                             <h4 class="m-0 font-weight-bold text-primary"> Dispatched Date :
                               {{factor.dispatch_date | date : 'd  - MMM,  y'}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">
                               Reference No :{{factor.invoice_refernce_no}}
                             </h4> <br>
                             <h4 class="m-0 font-weight-bold text-primary">
                               Amount : {{factor.invoice_balance}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </div>
                       <mat-action-row>
                         <div>
                           <span *ngIf="factor.dislosed_state" class="badge badge-success"> Disclosed </span>
                           <span *ngIf="!factor.dislosed_state" class="badge badge-danger"> Not Disclosed </span>
                         </div>
                       </mat-action-row>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </div>

               </mat-tab>



               <mat-tab label="Finished Jobs">

                 <div class="container mt-3">
                   <!-- <div class="example-action-buttons float-left">
                   <h3> Active Jobs </h3>
                 </div>
                 <div class="example-action-buttons float-right">
                   <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
                 </div> <br> -->
                   <mat-accordion class="example-headers-align container" multi>
                     <mat-expansion-panel *ngFor="let factor of Customer['tasks']">
                       <mat-expansion-panel-header>
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary">{{factor.task_name}} -- {{factor.task_state}}</h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'd/M/yy'}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </mat-expansion-panel-header>
                       <div class="row container">
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}}
                               <br>
                               {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">
                               Job Description : {{factor.task_description}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </div>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </div>

               </mat-tab>


             </mat-tab-group>

           </div>

        <!-- <app-customer-detail *ngIf="isCustomerSelected"></app-customer-detail> -->
      </div>
    </div>
  </div>
</div>
<!-- End of Customer Detail Factor -->

