<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <!-- Nav -->
    <li class="nav-item nav10" (click)="toValhalla(10)">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <!-- Nav -->

    <li class="list-divider" *ngIf="Shop?.user_database != 5"></li>

    <!-- Nav Single -->
    <li class="nav-item nav20" *ngIf="Shop?.user_database != 5" (click)="toValhalla(20)"
      [routerLink]="['/dashboard/customer-management']">
      <a class="nav-link">
        <i class="ti-crown menu-icon"></i>
        <span class="menu-title">Customer Database</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav30" *ngIf="Shop?.user_database != 5" (click)="toValhalla(30)"
      [routerLink]="['/dashboard/vendor-management']">
      <a class="nav-link">
        <i class="ti-briefcase menu-icon"></i>
        <span class="menu-title">Vendor Database</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav40" *ngIf="Shop?.user_database != 5" (click)="toValhalla(40)"
      [routerLink]="['/dashboard/user-management']">
      <a class="nav-link">
        <i class="ti-user menu-icon"></i>
        <span class="menu-title">User Database</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav50" *ngIf="Shop?.lead_followup != 5" (click)="toValhalla(50)"
      [routerLink]="['/dashboard/lead-management']">
      <a class="nav-link">
        <i class="ti-comments menu-icon"></i>
        <span class="menu-title">Customer Follow-Ups</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav60" *ngIf="Shop?.invoice_followup != 5" (click)="toValhalla(60)"
      [routerLink]="['/dashboard/invoice-management']">
      <a class="nav-link">
        <i class="ti-import menu-icon"></i>
        <span class="menu-title">Pending Payments</span>
      </a>
    </li>
    <!-- Nav Single -->

    <!-- Nav Single -->
    <li class="nav-item nav70" *ngIf="Shop?.task_followup != 5" (click)="toValhalla(70)"
      [routerLink]="['/dashboard/task-management']">
      <a class="nav-link">
        <i class="ti-settings menu-icon"></i>
        <span class="menu-title">Work in progress</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav80" *ngIf="Shop?.journal != 5" (click)="toValhalla(80)"
      [routerLink]="['/dashboard/journal-management']">
      <a class="nav-link">
        <i class="ti-bookmark-alt menu-icon"></i>
        <span class="menu-title">Work Done Register</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav90" *ngIf="Shop?.user_type != 2" (click)="toValhalla(90)"
      [routerLink]="['/dashboard/approval-management']">
      <a class="nav-link">
        <i class="icon-paper menu-icon"></i>
        <span class="menu-title">Pending Approvals</span>
      </a>
    </li>
    <!-- Nav Single -->


    <!-- Nav Single -->
    <li class="nav-item nav100" (click)="toValhalla(100)" [routerLink]="['/dashboard/notepad-management']">
      <a class="nav-link">
        <i class="ti-marker-alt menu-icon"></i>
        <span class="menu-title">Notepad</span>
      </a>
    </li>
    <!-- Nav Single -->





    <!-- Nav Dropdown -->
    <!-- <li class="nav-item nav10" (click)="toValhalla(10)">
      <a class="nav-e link" [routerLink]="['//dashboard/routePath' ]" routerLinkActivedashboard//="router-link-activ" data-toggle="collapse"
        href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Auth Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item nav10" (click)="toValhalla(10)"> <a class= [routerLink]="['//dashboard/signin']"> Signi"nav-link" n </a>
          </li>
          <li class="nav-item nav10" (click)="toValhalla(10)"> <a class= [routerLink]="['//dashboard/signup']"> Signu"nav-link" p </a>
          </li>
        </ul>
      </div>
    </li> -->
    <!-- Nav Dropdown -->

  </ul>
</nav>
