  <div class="banner">
    <div>
      <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Vendor Management
      </h3>

      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div>
      <a data-toggle="modal" data-target="#create-factor-modal"
        class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i class="ti-plus"></i>
        Create Vendor</a>
    </div>
  </div>


  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 "> Your customer Database</h4>
                <div class="">
                  <li class="dropdown">
                    <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-expanded="false" aria-haspopup="true">
                      <i class="ti-settings" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" *ngFor="let factor of config['vendor_database']">
                        <mat-slide-toggle color="primary" class="d-block" [(ngModel)]="factor.status">
                          {{factor?.field_name}}
                        </mat-slide-toggle>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item">
                        <a (click)="update_config()" class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i
                            class="ti-plus"></i> Save Config</a>
                      </a>
                    </div>
                  </li>
                </div>
              </div>

              <div class="card-body">
                <div class="dot-opacity-loader" *ngIf="isLoading">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="table-responsive" [hidden]="isLoading">

                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th *ngFor="let factor of config['vendor_database']" [hidden]=!factor.status>
                          {{factor.field_name}}</th>
                      </tr>
                    </thead>


                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td [hidden]="!config['vendor_database'][0].status">
                          {{factor.company_name}}</td>
                        <td [hidden]="!config['vendor_database'][1].status">
                          {{factor.vendor_name}}</td>
                        <td [hidden]="!config['vendor_database'][2].status">
                          {{factor.vendor_mobile}}</td>
                        <td style="width: 20%;" [hidden]="!config['vendor_database'][3].status">
                          {{factor.vendor_city}} -
                          {{factor.vendor_address}}</td>
                        <td [hidden]="!config['vendor_database'][4].status">
                          {{factor.vendor_feedback}} </td>
                        <td [hidden]="!config['vendor_database'][5].status" style="cursor: pointer; text-align: center;"
                          class="dropdown-toggle" data-toggle="dropdown">
                          <i class="ti-more " aria-hidden="true"></i>
                          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a (click)=show_edit(factor) class="dropdown-item">Edit Vendor</a>
                            <a (click)=delete_factor(factor) class="dropdown-item text-danger">Delete Vendor</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>



  <!-- Create  Factor modal content -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Vendor - Factor -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">
            <div class="row">
              <div class="col-md-6">
                <!-- Company name - company_name - text - required -->
                <div class="form-group">
                  <label>Company name *</label>
                  <input class="form-control" [(ngModel)]="Factor.company_name" name="company_name"
                    #company_name="ngModel" type="text" placeholder="Enter Company name" required>
                  <div class="error" *ngIf="company_name.touched && !company_name.valid"> Company
                    name is
                    required</div>
                </div>
                <!-- End of Company name -->
              </div>
              <div class="col-md-6">
                <!-- Contact Person - vendor_name - text - required -->
                <div class="form-group">
                  <label>Contact Person *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_name" name="vendor_name" #vendor_name="ngModel"
                    type="text" placeholder="Enter Contact Person" required>
                  <div class="error" *ngIf="vendor_name.touched && !vendor_name.valid"> Contact
                    Person is
                    required</div>
                </div>
                <!-- End of Contact Person -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Vendor mobile - vendor_mobile - text - required -->
                <div class="form-group">
                  <label>Vendor mobile *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_mobile" name="vendor_mobile"
                    #vendor_mobile="ngModel" type="text" placeholder="Enter Vendor mobile" required>
                  <div class="error" *ngIf="vendor_mobile.touched && !vendor_mobile.valid">
                    Vendor mobile is
                    required</div>
                </div>
                <!-- End of Vendor address -->
              </div>
              <div class="col-md-6">
                <!-- Vendor address - vendor_address - text - required -->
                <div class="form-group">
                  <label>Vendor address *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_address" name="vendor_address"
                    #vendor_address="ngModel" type="text" placeholder="Enter Vendor address" required>
                  <div class="error" *ngIf="vendor_address.touched && !vendor_address.valid">
                    Vendor address is
                    required</div>
                </div>
                <!-- End of Vendor address -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Vendor City - vendor_city - text - required -->
                <div class="form-group">
                  <label>Vendor City *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_city" name="vendor_city" #vendor_city="ngModel"
                    type="text" placeholder="Enter Vendor City" required>
                  <div class="error" *ngIf="vendor_city.touched && !vendor_city.valid"> Vendor
                    address is
                    required</div>
                </div>
                <!-- End of Vendor City -->
              </div>
              <div class="col-md-6">
                <!-- Feedback - vendor_feedback - text  -->
                <!-- Customer Type - customer_name - ng-select - selectedType -->
                <div class="form-group">
                  <label>Feedback ( Optional )</label>
                  <ng-select [items]="VENDOR_TYPE" bindLabel="value" autofocus bindValue="value" name="vendor_feedback"
                    [(ngModel)]="Factor.vendor_feedback" placeholder="Vendor Type">
                  </ng-select>
                </div>
                <!-- End of Customer Type -->
              </div>
            </div>

            <!-- <div class="form-group">
              <label>Feedback ( Optional )</label>
              <textarea class="form-control" [(ngModel)]="Factor.vendor_feedback" name="vendor_feedback"
                #vendor_feedback="ngModel" type="text" placeholder="Enter Feedback" value=""></textarea>
            </div> -->
            <!-- End of Feedback -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Create Vendor</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

            <div class="row">
              <div class="col-md-6">
                <!-- Company name - company_name - text - required -->
                <div class="form-group">
                  <label>Company name *</label>
                  <input class="form-control" [(ngModel)]="Factor.company_name" name="company_name"
                    #company_name="ngModel" type="text" placeholder="Enter Company name" required>
                  <div class="error" *ngIf="company_name.touched && !company_name.valid"> Company
                    name is
                    required</div>
                </div>
                <!-- End of Company name -->
              </div>
              <div class="col-md-6">
                <!-- Contact Person - vendor_name - text - required -->
                <div class="form-group">
                  <label>Contact Person *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_name" name="vendor_name" #vendor_name="ngModel"
                    type="text" placeholder="Enter Contact Person" required>
                  <div class="error" *ngIf="vendor_name.touched && !vendor_name.valid"> Contact
                    Person is
                    required</div>
                </div>
                <!-- End of Contact Person -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Vendor mobile - vendor_mobile - text - required -->
                <div class="form-group">
                  <label>Vendor mobile *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_mobile" name="vendor_mobile"
                    #vendor_mobile="ngModel" type="text" placeholder="Enter Vendor mobile" required>
                  <div class="error" *ngIf="vendor_mobile.touched && !vendor_mobile.valid">
                    Vendor mobile is
                    required</div>
                </div>
                <!-- End of Vendor address -->
              </div>
              <div class="col-md-6">
                <!-- Vendor address - vendor_address - text - required -->
                <div class="form-group">
                  <label>Vendor address *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_address" name="vendor_address"
                    #vendor_address="ngModel" type="text" placeholder="Enter Vendor address" required>
                  <div class="error" *ngIf="vendor_address.touched && !vendor_address.valid">
                    Vendor address is
                    required</div>
                </div>
                <!-- End of Vendor address -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Vendor City - vendor_city - text - required -->
                <div class="form-group">
                  <label>Vendor City *</label>
                  <input class="form-control" [(ngModel)]="Factor.vendor_city" name="vendor_city" #vendor_city="ngModel"
                    type="text" placeholder="Enter Vendor City" required>
                  <div class="error" *ngIf="vendor_city.touched && !vendor_city.valid"> Vendor
                    address is
                    required</div>
                </div>
                <!-- End of Vendor City -->
              </div>
              <div class="col-md-6">
                <!-- Feedback - vendor_feedback - text  -->
                <!-- Customer Type - customer_name - ng-select - selectedType -->
                <div class="form-group">
                  <label>Feedback ( Optional )</label>
                  <ng-select [items]="VENDOR_TYPE" bindLabel="value" autofocus bindValue="value" name="vendor_feedback"
                    [(ngModel)]="Factor.vendor_feedback" placeholder="Vendor Type">
                  </ng-select>
                </div>
                <!-- End of Customer Type -->
              </div>
            </div>


            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Vendor</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->
