<div class="banner">
  <div>
    <!-- <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Lead Management
      </h3> -->
    <h3 class="page-title mx-3 text-truncate text-dark font-weight-medium mb-1">Customer Management
    </h3>
    <div class="d-flex align-items-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0 p-0">
          <li class="breadcrumb-item"><a></a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div>
    <a data-toggle="modal" data-target="#create-industry-modal" [routerLink]="['/routePath']"
      class="btn btn-sm btn-primary shadow-sm ml-3"><i class="ti-plus"></i>
      Add Industry</a>
    <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/routePath']"
      class="btn btn-sm btn-primary text-white shadow-sm ml-3"><i class="ti-plus"></i>
      Create Customer</a>
  </div>
</div>


<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid px-4">
          <p class=""></p>
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h4 class="m-0 "> Your customer Database</h4>
              <div class="">
                <li class="dropdown">
                  <a class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-expanded="false" aria-haspopup="true">
                    <i class="ti-settings" aria-hidden="true"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" *ngFor="let factor of config['customer_database']">
                      <mat-slide-toggle color="primary" class="d-block" [(ngModel)]="factor.status">
                        {{factor?.field_name}}
                      </mat-slide-toggle>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">
                      <a (click)="update_config()" class="d-sm-inline btn btn-sm btn-primary text-white shadow-sm"><i
                          class="ti-plus"></i> Save Config</a>
                    </a>
                  </div>
                </li>
              </div>
            </div>

            <div class="card-body">
              <div class="dot-opacity-loader" *ngIf="isLoading">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="table-responsive" [hidden]="isLoading">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th *ngFor="let factor of config['customer_database']" [hidden]=!factor.status>
                        {{factor.field_name}}</th>
                    </tr>
                  </thead>
                  <!-- Start of DataTable -->
                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <td style="text-decoration: underline;cursor: pointer;" (click)="show_detail(factor)" [hidden]="!config['customer_database'][0]?.status">{{factor.company_name}}</td>
                      <td [hidden]="!config['customer_database'][1]?.status">{{factor.customer_name}}</td>
                      <td [hidden]="!config['customer_database'][2]?.status">{{factor.customer_mobile}}</td>
                      <td style="width: 20%;" [hidden]="!config['customer_database'][3]?.status">
                        {{factor.customer_city}} -
                        {{factor.customer_address}}</td>
                      <td [hidden]="!config['customer_database'][4]?.status">
                        {{CUSTOMER_TYPE[factor.customer_type - 1].value}}
                      </td>
                      <td [hidden]="!config['customer_database'][5]?.status">{{factor.shop_industry}}</td>
                      <td [hidden]="!config['customer_database'][6]?.status && factor.calendar_eligible">
                        {{factor.calendar_eligible}}</td>

                      <td [hidden]="!config['customer_database'][7]?.status"
                        style="cursor: pointer; text-align: center;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ti-more " aria-hidden="true"></i>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a (click)=show_detail(factor) class="dropdown-item">Customer
                            details</a>
                          <a (click)=show_edit(factor) class="dropdown-item">Edit Customer</a>
                          <a (click)=delete_factor(factor) class="dropdown-item text-danger">Delete Customer</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <!-- End of DataTable -->


                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">
          <div class="row">
            <div class="col-md-6">
              <!-- Company name - company_name - text - required -->
              <div class="form-group">
                <label>Company name <span>*</span> </label>
                <input class="form-control" [(ngModel)]="Factor.company_name" name="company_name"
                  #company_name="ngModel" type="text" placeholder="Enter Company name" required>
                <div class="error" *ngIf="company_name.touched && !company_name.valid"> Company name is required</div>
              </div>
              <!-- End of Company name -->
            </div>
            <div class="col-md-6">
              <!-- Contact Person - customer_name - text - required -->
              <div class="form-group">
                <label>Contact Person <span>*</span> </label>
                <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name"
                  #customer_name="ngModel" type="text" placeholder="Enter Contact Person" required>
                <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact Person is required
                </div>
              </div>
              <!-- End of Contact Person -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Customer mobile - customer_mobile - text - required -->
              <div class="form-group">
                <label>Customer mobile <span>*</span> </label>
                <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
                  #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
                <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
                  mobile is required</div>
              </div>
              <!-- End of Customer address -->
            </div>
            <div class="col-md-6">
              <!-- Customer address - customer_address - text - required -->
              <div class="form-group">
                <label>Customer address <span>*</span> </label>
                <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
                  #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
                <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
                  address is required</div>
              </div>
              <!-- End of Customer address -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Customer City - customer_city - text - required -->
              <div class="form-group">
                <label>Customer City <span>*</span> </label>
                <input class="form-control" [(ngModel)]="Factor.customer_city" name="customer_city"
                  #customer_city="ngModel" type="text" placeholder="Enter Customer City" required>
                <div class="error" *ngIf="customer_city.touched && !customer_city.valid"> Customer address is required
                </div>
              </div>
              <!-- End of Customer City -->
            </div>
            <div class="col-md-6">
              <!-- Industry Type - shop_indusry - ng-select - selectedIndustry -->
              <div class="form-group">
                <label>Industry Type <span>*</span> </label>
                <ng-select [items]="Industries" bindLabel="industry_name" autofocus bindValue="customer_industry_id"
                  [(ngModel)]="Factor.shop_industry" name="shop_industry" placeholder="Industry Type">
                </ng-select>
              </div>
              <!-- End of Industry Type -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Customer Type - customer_name - ng-select - selectedType -->
              <div class="form-group">
                <label>Customer Type <span>*</span> </label>
                <ng-select [items]="CUSTOMER_TYPE" bindLabel="value" autofocus bindValue="id" name="customer_type"
                  [(ngModel)]="Factor.customer_type" placeholder="Select Customer Type">
                </ng-select>
              </div>
              <!-- End of Customer Type -->
            </div>
            <div class="col-md-6">
              <!-- Calendar Oriented - calendar_eligible - text - required -->
              <div class="custom-control custom-checkbox">
                <input [(ngModel)]="Factor.calendar_eligible" name="calendar_eligible" #calendar_eligible="ngModel"
                  type="checkbox" class="custom-control-input" id="customCheck1" onclick="console.log(this.checked)">
                <label class="custom-control-label" for="customCheck1">Add to calendar follow up</label>
              </div>
              <!-- End of Calendar Oriented -->

              <!-- Direct customer - customer_direct - text - required -->
              <div class="custom-control custom-checkbox">
                <input [(ngModel)]="Factor.customer_direct" id="customCheck5" name="customer_direct"
                  #customer_direct="ngModel" type="checkbox" class="custom-control-input">
                <label class="custom-control-label" for="customCheck5"> Direct Customer </label>
              </div>
              <!-- End of Direct customer -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </div>

          <!-- Feedback - customer_feedback - text - required -->
          <!-- <div class="form-group">
              <label>Feedback <span>*</span> </label>
              <textarea class="form-control" [(ngModel)]="Factor.customer_feedback" name="customer_feedback"
                #customer_feedback="ngModel" type="text" placeholder="Enter Feedback" [value]=""></textarea>
              <div class="error" *ngIf="customer_feedback.touched && !customer_feedback.valid"> Customer address is required</div>
            </div> -->
          <!-- End of Feedback -->

          <!-- Customer from - customer_name - ng-select - selectedFrom -->
          <!-- <div class="form-group">
              <label>Customer from</label>
              <ng-select [items]="CUSTOMER_FROM" bindLabel="value" autofocus bindValue="id" name="customer_from"
                [(ngModel)]="selectedFrom" (change)=onSelect3($event) placeholder="Customer from">
              </ng-select>
            </div> -->
          <!-- End of Customer from -->

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Customer</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">
          <div class="row">
            <div class="col-md-6">
              <!-- Company name - company_name - text - required -->
              <div class="form-group">
                <label>Company name</label>
                <input class="form-control" [(ngModel)]="Factor.company_name" name="company_name"
                  #company_name="ngModel" type="text" placeholder="Enter Company name" required>
                <div class="error" *ngIf="company_name.touched && !company_name.valid"> Company name is required</div>
              </div>
              <!-- End of Company name -->
            </div>
            <div class="col-md-6">
              <!-- Contact Person - customer_name - text - required -->
              <div class="form-group">
                <label>Contact Person</label>
                <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name"
                  #customer_name="ngModel" type="text" placeholder="Enter Contact Person" required>
                <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact Person is required
                </div>
              </div>
              <!-- End of Contact Person -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Customer mobile - customer_mobile - text - required -->
              <div class="form-group">
                <label>Customer mobile</label>
                <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
                  #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
                <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
                  mobile is required</div>
              </div>
              <!-- End of Customer address -->
            </div>
            <div class="col-md-6">
              <!-- Customer address - customer_address - text - required -->
              <div class="form-group">
                <label>Customer address</label>
                <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
                  #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
                <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
                  address is required</div>
              </div>
              <!-- End of Customer address -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Customer City - customer_city - text - required -->
              <div class="form-group">
                <label>Customer City</label>
                <input class="form-control" [(ngModel)]="Factor.customer_city" name="customer_city"
                  #customer_city="ngModel" type="text" placeholder="Enter Customer City" required>
                <div class="error" *ngIf="customer_city.touched && !customer_city.valid"> Customer address
                  is required
                </div>
              </div>
              <!-- End of Customer City -->
            </div>
            <div class="col-md-6">
              <!-- Customer Type - customer_name - ng-select - selectedType -->
              <div class="form-group">
                <label>Customer Type</label>
                <ng-select [items]="CUSTOMER_TYPE" bindLabel="value" autofocus bindValue="id" name="customer_type"
                  [(ngModel)]="Factor.customer_type" placeholder="Select Customer Type">
                </ng-select>
              </div>
              <!-- End of Customer Type -->
            </div>
          </div>

          <!-- Industry Type - shop_indusry - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Industry Type</label>
            <ng-select [items]="Industries" bindLabel="industry_name" autofocus bindValue="customer_industry_id"
              [(ngModel)]="Factor.customer_industry_id" name="shop_industry"
              placeholder="Industry Type">
            </ng-select>
          </div>
        <!-- End of Industry Type -->

          <div class="row my-3">
            <div class="col-md-6">
              <!-- Calendar Oriented - calendar_eligible - text - required -->
              <div class="custom-control custom-checkbox">
                <input [(ngModel)]="Factor.calendar_eligible" id="customCheck2" name="calendar_eligible"
                  #calendar_eligible="ngModel" type="checkbox" class="custom-control-input"
                  *ngIf="!Factor.calendar_eligible">
                <input [(ngModel)]="Factor.calendar_eligible" name="calendar_eligible" #calendar_eligible="ngModel"
                  type="checkbox" id="customCheck2" class="custom-control-input" *ngIf="Factor.calendar_eligible"
                  checked>
                <label class="custom-control-label" for="customCheck2">Add to calendar follow up</label>
              </div>
              <!-- End of Calendar Oriented -->
            </div>
            <div class="col-md-6">
              <!-- Direct customer - customer_direct - text - required -->
              <div class="custom-control custom-checkbox">
                <input [(ngModel)]="Factor.customer_direct" id="customCheck3" name="customer_direct"
                  #customer_direct="ngModel" type="checkbox" class="custom-control-input"
                  *ngIf="!Factor.customer_direct">
                <input [(ngModel)]="Factor.customer_direct" name="customer_direct" #customer_direct="ngModel"
                  type="checkbox" id="customCheck3" class="custom-control-input" *ngIf="Factor.customer_direct" checked>
                <label class="custom-control-label" for="customCheck3"> Direct Customer </label>
              </div>
              <!-- End of Direct customer -->
            </div>
          </div>

          <!-- Feedback - customer_feedback - text - required -->
          <!-- <div class="form-group">
              <label>Feedback</label>
              <textarea class="form-control" [(ngModel)]="Factor.customer_feedback" name="customer_feedback"
              #customer_feedback="ngModel" type="text" placeholder="Enter Feedback"></textarea>
              <div class="error" *ngIf="customer_feedback.touched && !customer_feedback.valid"> Customer address is required</div>
              </div> -->
          <!-- End of Feedback -->



          <!-- Customer from - customer_name - ng-select - selectedFrom -->
          <!-- <div class="form-group">
            <label>Customer from</label>
              <ng-select [items]="CUSTOMER_FROM" bindLabel="value" autofocus bindValue="id" name="customer_from"
              [(ngModel)]="Factor.customer_from" (change)=onSelect3($event) placeholder="Customer from">
            </ng-select>
            </div> -->
          <!-- End of Customer from -->

          <div class="form-group text-center">
            <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
            <button class="btn btn-primary" type="submit">Update Customer</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->



<!-- Edit  Factor modal content -->
<div id="create-industry-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues4="ngForm" (ngSubmit)="add_industry(formValues4)" class="pl-3 pr-3">

          <!-- Industry Name - industry_name - text - required -->
          <div class="form-group">
            <label>Industry Name</label>
            <input class="form-control" [(ngModel)]="Industry.industry_name" name="industry_name"
              #industry_name="ngModel" type="text" placeholder="Enter Industry Name" required>
            <div class="error" *ngIf="industry_name.touched && !industry_name.valid"> name is required</div>
          </div>
          <!-- End of Industry Name -->


          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Add Industry</button>
          </div>


        </form>
        <mat-accordion>
          <mat-expansion-panel hideToggle *ngFor="let factor of Industries">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{factor.industry_name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button class="btn btn-light" (click)="delete_industry(factor)">Delete Industry</button>
            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->




<!-- Customer Detail  Factor modal content -->
<div id="customer-detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Customer Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <div class="container mt-2">
          <div class="card p-3">
               <div class="row">
                 <div class="col-6 pl-4">
                   <h3> <strong class="font-weight-bold mb-0">General Details :</strong> </h3>
                   <h3 class="text-muted mb-0"> Company Name : <span class=" font-weight-bold">
                       {{Customer.company_name}}
                     </span> </h3>
                   <h3 class="text-muted mb-0"> Contact Person : <span class=" font-weight-bold">
                       {{Customer.customer_name}} </span> </h3>
                   <h3 class="text-muted mb-0"> Mobile Numbers : <span class=" font-weight-bold">
                       {{Customer.customer_mobile}} </span>
                   </h3>
                   <h3 class="text-muted mb-0"> Customer Address : <span class=" font-weight-bold">
                       {{Customer.customer_address}} </span>
                   </h3>
                   <h3 class="text-muted mb-0"> Customer City : <span class=" font-weight-bold">
                       {{Customer.customer_city}} </span> </h3>
                 </div>
                 <div class="col-6">
                   <h3> <strong class="font-weight-bold mb-0">Misc. Details :</strong> </h3>
                   <h3 class="text-muted mb-0"> Customer Industry : <span class=" font-weight-bold">
                       {{Customer.shop_industry}} </span>
                   </h3>
                   <!-- <h3 class="text-muted mb-0"> Customer Type : <span class=" font-weight-bold">
                       {{CUSTOMER_TYPE[Customer.customer_type].value}}
                     </span> </h3> -->
                   <h3 class="text-muted mb-0"> Calendar Follow Up : <span class=" font-weight-bold">
                       {{Customer.calendar_eligible}} </span>
                   </h3>
                   <h3 class="text-muted mb-0"> Direct Customer : <span class=" font-weight-bold">
                       {{Customer.customer_direct}} </span> </h3>
                 </div>
               </div>
               <div class="row ml-auto">
                <div>
                  <a data-toggle="modal" (click)="add_lead()"
                    class="btn btn-sm btn-primary shadow-sm ml-3"><i class="ti-plus"></i>
                    Add customer follow-up</a>
                  <!-- <a data-toggle="modal" (click)="add_payment()"
                    class="btn btn-sm btn-primary text-white shadow-sm ml-3"><i class="ti-plus"></i>
                    Add payment follow-up</a> -->
                </div>
              </div>
             </div>



             <mat-tab-group mat-align-tabs="center">

               <mat-tab label="Customer Follow Ups">

                 <div class="container mt-3">
                   <div class="example-action-buttons float-left">
                     <h3> Active Jobs </h3>
                   </div>
                   <div class="example-action-buttons float-right">
                     <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
                   </div> <br>
                   <mat-accordion class="example-headers-align container" multi>
                     <mat-expansion-panel *ngFor="let factor of Customer['leads']">
                       <mat-expansion-panel-header>
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary">{{factor.follow_up_comment}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">Date : {{factor.time_stamp | date: 'd  - MMM,  y'}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </mat-expansion-panel-header>
                       <div class="row container">
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary"> Next Follow Up :
                               {{factor.next_follow_up | date : 'd  - MMM,  y'}} </h4>
                           </mat-panel-title>
                         </div>
                         <!-- <div class="col-6">
                         <mat-panel-description>
                           <h4 class="m-0 font-weight-bold text-primary">
                             Job Description : {{factor.task_description}}
                           </h4>
                         </mat-panel-description>
                       </div> -->
                       </div>
                       <mat-action-row>
                         <div>
                           <span *ngIf="factor.dislosed_state" class="badge badge-success"> Disclosed </span>
                           <span *ngIf="!factor.dislosed_state" class="badge badge-danger"> Not Disclosed </span>
                         </div>
                       </mat-action-row>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </div>

               </mat-tab>



               <mat-tab label="Payment Follow Ups">

                 <div class="container mt-3">
                   <!-- <div class="example-action-buttons float-left">
                   <h3> Active Jobs </h3>
                 </div>
                 <div class="example-action-buttons float-right">
                   <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
                 </div> <br> -->
                   <mat-accordion class="example-headers-align container" multi>
                     <mat-expansion-panel *ngFor="let factor of Customer['invoices']">
                       <mat-expansion-panel-header>
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary">{{factor.follow_up_comment}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">Date : {{factor.time_stamp | date: 'd  - MMM,  y'}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </mat-expansion-panel-header>
                       <div class="row container">
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary"> Next Follow Up :
                               {{factor.next_follow_up | date : 'd  - MMM,  y'}} </h4> <br>
                             <h4 class="m-0 font-weight-bold text-primary"> Dispatched Date :
                               {{factor.dispatch_date | date : 'd  - MMM,  y'}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">
                               Reference No :{{factor.invoice_refernce_no}}
                             </h4> <br>
                             <h4 class="m-0 font-weight-bold text-primary">
                               Amount : {{factor.invoice_balance}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </div>
                       <mat-action-row>
                         <div>
                           <span *ngIf="factor.dislosed_state" class="badge badge-success"> Disclosed </span>
                           <span *ngIf="!factor.dislosed_state" class="badge badge-danger"> Not Disclosed </span>
                         </div>
                       </mat-action-row>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </div>

               </mat-tab>



               <mat-tab label="Finished Jobs">

                 <div class="container mt-3">
                   <!-- <div class="example-action-buttons float-left">
                   <h3> Active Jobs </h3>
                 </div>
                 <div class="example-action-buttons float-right">
                   <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
                 </div> <br> -->
                   <mat-accordion class="example-headers-align container" multi>
                     <mat-expansion-panel *ngFor="let factor of Customer['tasks']">
                       <mat-expansion-panel-header>
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary">{{factor.task_name}} -- {{factor.task_state}}</h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'd/M/yy'}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </mat-expansion-panel-header>
                       <div class="row container">
                         <div class="col-6">
                           <mat-panel-title>
                             <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}}
                               <br>
                               {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
                           </mat-panel-title>
                         </div>
                         <div class="col-6">
                           <mat-panel-description>
                             <h4 class="m-0 font-weight-bold text-primary">
                               Job Description : {{factor.task_description}}
                             </h4>
                           </mat-panel-description>
                         </div>
                       </div>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </div>

               </mat-tab>


             </mat-tab-group>

           </div>

        <!-- <app-customer-detail *ngIf="isCustomerSelected"></app-customer-detail> -->
      </div>
    </div>
  </div>
</div>
<!-- End of Customer Detail Factor -->




            <!-- Create  Lead modal content -->
            <div id="create-lead-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <!-- <<  Customer - Lead -   >> -->
                    <form #leadValues="ngForm" (ngSubmit)="create_lead(leadValues)" class="pl-3 pr-3">

                      <!-- Select Customer - customer - ng-select - selectedIndustry -->
                      <div class="form-group">
                        <label>Select Customer <span>*</span> </label>
                        <ng-select [items]="Factors" bindLabel="label" autofocus bindValue="customer_id"
                          [(ngModel)]="Lead.customer" name="customer" placeholder="Select Customer">
                        </ng-select>
                      </div>
                      <!-- End of Select Customer -->

                      <!-- Comments - follow_up_comment - text - required -->
                      <div class="form-group">
                        <label>Comments <span>*</span> </label>
                        <textarea class="form-control" [(ngModel)]="Lead.follow_up_comment" style="height: 150%;"
                          name="follow_up_comment" #follow_up_comment="ngModel" type="text" placeholder="Enter Comments"
                          required></textarea>
                        <div class="error" *ngIf="follow_up_comment.touched && !follow_up_comment.valid"> Comments is
                          required</div>
                      </div>
                      <!-- End of Comments -->


                      <!-- Follow-up Priority - lead_priority - ng-select - selectedType -->
                      <!-- <div class="form-group">
            <label>Follow-up Priority <span>*</span> </label>
            <ng-select [items]="PRIORITY" bindLabel="value" autofocus bindValue="id" name="lead_priority"
              [(ngModel)]="selectedPriority" (change)=onSelect2($event) placeholder="Follow-up Priority">
            </ng-select>
          </div> -->
                      <!-- End of Follow-up Priority -->

                      <!-- Next Follow-Up - lead_priority - ng-select - selectedType -->
                      <div class="form-group">
                        <label>Next Follow-Up <span>*</span> </label>
                        <mat-form-field appearance="outline">
                          <mat-label>Choose a date</mat-label>
                          <input class="form-group date-picker" matInput name="next_follow_up"
                            [(ngModel)]="selected_date" [matDatepicker]="picker2">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <!-- End of Next Follow-Up -->

                      <div class="form-group text-center">
                        <button class="btn btn-primary" type="submit">Create customer follow-up</button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>
            <!-- End of Create Factor -->
